* {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

body, html {
  width: 100%;
  font-family: "STZhongsong", sans-serif;
}

ol, ul {
  list-style: none;
}

a img {
  border: none;
}

input {
  font-family: "STZhongsong", sans-serif;
  outline: none;
}

form.add-info {
  text-align: center;
  margin: 10px 0px;
}

form.add-info input[type="text"] {
  width: 130px;
  background-color: #FAFAFA;
  color: #212121;
  margin-right: 5px;
  line-height: 30px;
  text-indent: 3px;
  font-size: 16px;
}

form.add-info input[type="submit"] {
  background-color: #78909C;
  color: #FFFFFF;
  height: 34px;
  border-width: 0px;
  padding: 0px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

ul.container {
  width: 562px;
  margin: 20px auto;
  font-size: 17px;
}

ul.container li::after {
  content: "";
  display: block;
  clear: both;
}

ul.container li span {
  float: left;
  line-height: 35px;
  width: 140px;
  text-align: center;
}

ul.container li.title {
  background-color: #515A5A;
  color: #FFFFFF;
  border: 1px solid #168;

}

ul.container li.item {
  background-color: #E5E8E8;
  color: #000;
  border-left: 1px solid #168;
  border-bottom: 1px solid #168;
  border-right: 1px solid #168;
}

ul.container li.item input {
  
  width: 120px;
  float: left;
  height: 25px;
  margin: 5px 10px;
}

ul.container li.item button {
  font-family: "STZhongsong", sans-serif;
  width: 40px;
  line-height: 24px;
  margin: 5.5px 2px 0px 0px;
  border-width: 0px;
  background-color: #abc;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

ul.container li.item button.modify{
  margin-left: 28px;
}

ul.container li.item button.complete{
  margin-left: 28px;
}